# In Slack, go to the main Slack menu -> Customize Workplace
# On the given page, open up developer tools and look at the
# network requests. Specifically inspect the `adminList` request.
# From there, you can grab the `token` value from the body and
# the value of the cookie named `d`. Set those values here.

SLACK_DOMAIN = "mycompany.slack.com"
SLACK_PARAM_TOKEN = "xoxc-12345"
SLACK_COOKIE_D = "xoxd-ABC123"
